<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxB0YiJ6pilufXC1aMK9f_o8P8pXGoQO4</string>
	<key>GCM_SENDER_ID</key>
	<string>22113650499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.chatterboxv2</string>
	<key>PROJECT_ID</key>
	<string>chatter-box-v2-inoz2n</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-box-v2-inoz2n.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22113650499:ios:2633607b855d33740351f6</string>
</dict>
</plist>